* {
    font-size: 48px;
}

body {
    color: #000000;
    background-color: beige;
}

h1 {
    color: cornflowerblue;
}

.clicked {
    color: tomato;
}

.js-clock {
    cursor: pointer;
    font-size: 48px;
    color: #0d47a1;
}

.form,
.greetings {
    display: none;
}

.showing {
    display: block;
}